/* 코드 헤더 스타일 */
.code-header {
    display: flex; /* 플렉스박스 사용 */
    justify-content: space-between; /* 라벨과 버튼을 양 끝으로 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 8px; /* 코드 블록과 코드 사이의 간격 */
    margin: -10px;
    background-color: #222;
    border-bottom: 1px solid #ddd;
    border-color: #FFF;
}

.code-block {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px;
    background-color: #111;
    position: relative;
    margin-bottom: 20px;
}

.code-label {
    position: relative;
    /* top: -1px; */
    left: 0;
    background-color: transparent;
    color: #e0e0e0;
    padding: 5px;
    /* font-weight: bold; */
}

.menu {
    display: none; /* 기본적으로 메뉴 숨기기 */
    position: absolute; /* 위치 설정 */
    background: #333;
    color: #F0F0F0/* 배경 색상 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 4px;
    z-index: 1000; /* 위에 표시되도록 설정 */
}

.menu-button {
    position: relative;
    font-size:1.2rem;
    background: none;
    color: #bbb;
    border: none;
    cursor: pointer;
}

.menu div {
    padding: 8px 12px; /* 항목 여백 */
    cursor: pointer;
}

.menu div:hover {
    background: #111; /* 호버 시 배경 색상 변경 */
}

h2,strong,p,li,a {
    color: #e0e0e0;
    padding: 10px;
}

textarea::placeholder {
  color: ##888;
  font-weight: bold;

}

pre {
  position: relative;
  overflow: visible;
}
/* 코드 블록 기본 스타일 */
pre, code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: #111;
    color: #e0e0e0;
    border-radius: 8px; /* 테두리 둥글게 하기 */
}
/* 코드 블록 내부 패딩 */
code.hljs {
    padding: 3px 5px;
}
/* 하이라이팅 기본 스타일 */
.hljs {
    background: #2e2e2e;
    color: #e0e0e0;
}
/* 주석 스타일 */
.hljs-comment {
    color: #909090;
}
/* 구문 및 태그 스타일 */
.hljs-punctuation,
.hljs-tag {
    color: #e0e0e0;
}
/* 속성, 문서 태그, 키워드, 메타 데이터 스타일 */
 .hljs-attribute {
     color: #00A67D;
 }
 .hljs-meta .hljs-keyword,
 .hljs-doctag,
 .hljs-name,
 .hljs-selector-tag {
     color: #2ebbd1;
 }
 .hljs-selector-ID {
     color: #e2bbd1;
 }
 .hljs-keyword,
 .hljs-tag .hljs-attr {
     color: #f92672;
 }

/* 삭제, 숫자, 인용, 클래스, 아이디, 문자열, 템플릿 태그, 타입 스타일 */
.hljs-number {
    color: #ae81ff;
}
.hljs-selector-class {
    color: #e2e629;
}
.hljs-deletion,
.hljs-quote,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: #ae81ff;
}
/* 섹션 및 제목 스타일 */
.hljs-section,
.hljs-title {
    color: #e6db74;
}
/* 링크, 연산자, 정규 표현식, 속성, 의사 클래스, 기호, 템플릿 변수, 변수 스타일 */
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: #ab5656;
}
/* 리터럴 스타일 */
.hljs-literal {
    color: #695;
}
/* 추가, 내장, 총알, 코드 스타일 */
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: #397300;
}
/* 메타 데이터 스타일 */
.hljs-meta {
    color: #05db17;
}
/* 메타 데이터 문자열 스타일 */
.hljs-meta .hljs-string {
    color: #38a;
}
/* 강조된 텍스트 스타일 */
.hljs-emphasis {
    font-style: italic; /* 이탤릭체 */
}
/* 굵은 텍스트 스타일 */
.hljs-strong {
    font-weight: 700; /* 굵게 표시 */
}
/* 코드 블록의 스크롤바 스타일 (선택 사항) */
pre::-webkit-scrollbar {
    width: 12px;
}
pre::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px;
}
pre::-webkit-scrollbar-track {
    background: #333;
}
